<%= simple_form_for job, html: { class: "job form" } do |f| %>
  <% if job.errors.any? %>
    <div class="error-message">
      <%= job.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :title, input_html: { autofocus: true } %>
  <%= f.submit class: "btn btn--secondary" %>
  <div class="line-break"></div>
  <%= f.input :description, as: :text %>
<% end %>
